{% extends 'movies/base.html' %}

{% block header %}
<div class="header">
    <h4>Birth Month Day of Date : {{born_month_day}}</h4>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for person in persons %}
      {% if person %}
      <div class="row">
        <div class="col-md-3">
          <a href="#x" ><img src="{{person.image}}" alt="Image" width="90%;"/></a>
        </div>
        <div class="col-md-7" style="background-color:#DBDBDB;">
          <br><br>
          <strong>Name: </strong><a href="#x" ></a>{{person.first_name|title}}
          {{person.last_name|title}}</br></br>
          <strong>D-O-B: </strong> : <a href="#x" ></a>{{person.dob}}</br></br>
          <strong>City: </strong>  : <a href="#x" ></a>{{person.city|title}}</br></br>
          <strong>State: </strong> : <a href="#x" ></a>{{person.state|upper}}</br></br>
          <strong>Country: </strong>: <a href="#x" ></a>{{person.country}}</br><br>
        </div>

      </div>
      <div><hr></div>
    {% else %}
    <h4>No results found. </h4>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
