{% extends 'movies/movie-overview.html' %}


{% block movie-overview%}

<p><h4><i> Cast </i></h4></p>
{% for actor in movie.actors.all%}
<p><a href="{% url 'movies:person-bio-data' actor.id%}">{{actor|title}}</a></p>
{% endfor %}
<br>
<p><h4><i> Crew </i></h4></p>
{% for director in movie.directors.all%}
<p><a href="{% url 'movies:person-bio-data' director.id%}">{{director|title}}</p>
{% endfor %}
{% for writer in movie.writers.all%}
<p><a href="{% url 'movies:person-bio-data' writer.id%}">{{writer|title}}</p>
{% endfor %}


{% endblock %}
